<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="/imgs/pageicon.png"> <!--..path corresponds to the index.js line in express ".use(express.static(path.join(__dirname, 'public')))"-->
<link rel="stylesheet" href="/bulma_modules/bulma/css/bulma.min.css"> <!--same as above line for the path-->
<title>QuickNode</title>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->