<!DOCTYPE html>
<html>
<!--Author: Dan Rauch 
    Affiliation: Servio Consulting LLC.
    Using Bulma CSS Framework-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node.js Module</title>
  <link rel="stylesheet" href="../../public/bulma_modules/bulma/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
</head>

<body>
  <div class="block">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is=1">The Portal</h1>
          <h2 class="subtitle">Welcome to the Node.js Engine Portal</h2>
        </div>
      </div>
    </section>
  </div>

  <div class="block" style="margin-left:1.5em;">
    
  </div>

  <!-- <div class="block">
    <a href="analytics.html">
      <button class="button is-primary">Go To Analytics Engine</button>
    </a>
  </div>
  <div class="block">
    <a href="pto.html">
      <button class="button is-primary">Go To PTO Manager</button>
    </a>
  </div> -->
</body>

</html>