<!DOCTYPE html>
<html>
<!--Author: Dan Rauch 
    Affiliation: Servio Consulting LLC.
    Using Bulma CSS Framework-->

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="block">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is=1">QuickNode</h1>
          <h2 class="subtitle">Welcome to the QuickNode Portal</h2>
        </div>
      </div>
    </section>
  </div>

  <div class="block" style="margin-left:1.5em;">
    <div class="block">
      <a href="/intuit">
        <button class="button is-primary">Go To Intuit</button>
      </a>
    </div>
  </div>

  <div class="block" style="margin-left:1.5em;margin-top:15em;">
    ------------------TESTING-------------------</br>
      <div class="block">
        <a href="/pg">
          <button class="button is-primary">Go To DB Testing</button>
        </a>
      </div>
      <div class="block">
          <a href="/sf">
            <button class="button is-primary">Go To Salesforce</button>
          </a>
      </div>
    </div>

</body>

</html>