<!DOCTYPE html>
<html>
<!--Author: Dan Rauch 
    Affiliation: Servio Consulting LLC.
    Using Bulma CSS Framework-->

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="block">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is=1">QuickNode</h1>
          <h2 class="subtitle">Welcome to the QuickNode Portal</h2>
        </div>
      </div>
    </section>
  </div>

  <div class="block" style="margin-left:1.5em;">
    
  </div>

  <div class="block">
    <a href="/intuit">
      <button class="button is-primary">Go To Intuit</button>
    </a>
  </div>

</body>

</html>