<!DOCTYPE html>
<html>
<!--Author: Dan Rauch 
    Affiliation: Servio Consulting LLC.
    Using Bulma CSS Framework-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="public/imgs/menuresize.png"> 
  <link rel="stylesheet" href="css/bulma.css"> 
  <title>QuickNode</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"></script>
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> --> </head>
<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="public/imgs/menuresize.png" alt="QuickNode" width="28" height="28">
          </a>
        </div>
      
        <div id="nb" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Routes
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/intuit">
                  Intuit
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/pgTest">
                  DB Testing
                </a>
                <a class="navbar-item" href="/sfTest">
                  SF Testing
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button is-white" style="display:inline-block" href="https://servioconsulting.com/">
                      <span>Powered By</span>
                      <img src="/public/imgs/servio.png" style="float:right;margin-left:0.5em">
                    </a>
                  </p>
                </div>
              </div>
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button is-black" href="https://github.com/danjrauch/quicknode">
                      <span class="icon">
                        <i class="fa fa-github"></i>
                      </span>
                      <span>GitHub</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>


        </div>
      </nav>


   <div class="block">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is=1">QuickNode</h1>
          <h2 class="subtitle">Welcome to the QuickNode Portal</h2>
        </div>
      </div>
    </section>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">What is QuickNode?</p>
          <div class="content">
            <p>
              QuickNode is a connector for Quickbooks and Salesforce hosted by Heroku written in node.js
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="field is-grouped has-test-centered">
      <p class="control has-test-centered">
        <a class="button is-grey" style="display:inline-block" href="">
          <img src="public/imgs/menuresize.png" style="float:left;margin-right:0.4em">
          <span>QuickNode by Dan Rauch</span>
        </a>
      </p>
    </div>
  </footer>

</body>

</html>