<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ipp="">
<!--Author: Dan Rauch 
    Affiliation: Servio Consulting LLC.
    Using Bulma CSS Framework-->
<head>
  <% include ../partials/authheader.ejs %>
</head>
<body>
    <div class="block">
        <section class="hero is-info">
          <div class="hero-body">
            <div class="container">
              <h1 class="title is=1">QuickNode</h1>
              <h2 class="subtitle">Please Authenticate</h2>
            </div>
          </div>
        </section>
      </div>
    
      <div class="block" style="margin-left:1.5em;">
        <div class="block">
          <ipp:connectToIntuit></ipp:connectToIntuit>
        </div>
      </div>
</body>
</html>
